canvas {
    border: 2px black solid;
    background: red;
}

.canvas-editor-container {
    min-width: 250px;
    height: 500px;
}

.editor input {
    width: 100%;
    height: 40px;
    border-radius: 15px;
    border: none;
    border-bottom: 2px black solid;
    outline: none;
    padding-left: 2px;
}

.editor {
    border: 2px black solid;
    width: 90%;
    border-radius: 15px;
    background: white;
}

.editor-buttons i {
    padding: 10px 10px 10px 0;
    cursor: pointer;
}

.editor-buttons {
    padding-right: 15px;
    padding-left: 15px;
}

.editor-buttons li {
    padding: 10px 10px 10px 0;
}

.editor-buttons li:not(:first-child) {
    padding: 10px;
}

.canvas-share {
    border: 2px black solid;
    height: 20%;
    width: 15vw;
    border-radius: 15px;
    background: #4267b2
}

.canvas-share div {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
}

.canvas-share i {
    transition: all 0.3s ease-out
}

.canvas-share i:hover {
    color: white;
}

.fa-palette input {
    opacity: 0;
    position: relative;
    bottom: 30px;
    cursor: pointer;
}