@font-face {
    font-family: DancingScript;
    src: url(../graphic/fonts/DancingScript-Regular.ttf)
}

@font-face {
    font-family: Indie;
    src: url(../graphic/fonts/IndieFlower.ttf)
}

@font-face {
    font-family: VT;
    src: url(../graphic/fonts/VT323-Regular.ttf)
}

@font-face {
    font-family: Zcool;
    src: url(../graphic/fonts/ZCOOLKuaiLe-Regular.ttf)
}

.dancing {
    font-family: DancingScript, Impact;
}

.indie {
    font-family: Indie, Impact;
}

.vt {
    font-family: VT, Impact;
}