@media (max-width: 740px) {
    .meme {
        min-height: 100px;
        min-width: 100px;
    }
    .logo {
        font-size: 1.5rem;
    }
    .modal-container {
        flex-direction: column;
    }
    .canvas-editor-container {
        margin-top: 50px;
        height: 40px;
    }
    .editor-buttons {
        justify-content: center;
    }
    .controller {
        display: flex;
    }
    body.meme-on footer {
        display: none;
    }
    body.meme-on .modal-container {
        min-height: 100%;
    }
    .main-nav-list li {
        width: 100%;
        border-top: 0.5px white solid;
        border-bottom: 0.5px white solid;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .main-nav-list input {
        border: none;
        border-bottom: 2px white solid;
    }
    .main-nav-list select {
        border: none;
        /* border-bottom: 2px white solid; */
    }
    .top-five-keywords {
        width: 100%;
    }
    /*  trying to make no focus on load in mobile */
    .editor input {
        font-size: 17px;
    }
}

@media (max-width: 540px) {
    .about-us-modal {
        left: 15%;
    }
    nav {
        width: 80px;
    }
    .logo {
        display: flex;
        width: 95%
    }
    .logo i {
        margin-left: 5px;
        margin-right: 5px;
    }
    .main-nav-list {
        /* display: none; */
        transform: scale(0);
        flex-direction: column;
        position: relative;
        top: 240px;
        background-color: #292929;
        align-items: center;
    }
    .hamburger {
        display: block;
        position: absolute;
        top: 6px;
        right: 21px;
        font-size: 2rem;
    }
    .upload {
        display: block;
    }
    .up {
        display: none;
    }
    .key-words-modal {
        left: 0;
        min-width: 250px;
    }
    .memes-container {
        padding: 0 13% 0 9%;
        min-height: 85vh;
    }
    .fa-arrow-circle-right, .fa-arrow-circle-left {
        color: white;
    }
    .main-navbar, .main-nav {
        height: 8vh;
    }
}

@media (max-width: 376px) {
    .about-us-modal {
        left: 2%;
        height: 60vh;
    }
}

/* ---------------------------------------------------------------------- */

.toggle-menu {
    /* display: block; */
    transform: scale(1)
}