@media (max-width: 740px) {
  .up-meme {
    display: none;
  }
  .meme {
    min-height: 100px;
    min-width: 100px;
  }
  .logo {
    font-size: 1.5rem;
  }
  .modal-container {
    flex-direction: column;
    justify-content: space-between;
    height: 92vh;
  }
  .canvas-editor-container {
    margin-top: -100px;
    height: 150px;
    justify-content: space-around;
  }
  .canvas-editor-container i {
    font-size: 1.5rem;
  }
  .fa-palette input {
    bottom: 20px;
  }
  .controller {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .first-editor {
    display: flex;
    margin-bottom: 0;
  }
  .first-editor li {
    padding-left: 0;
    padding-right: 0;
  }
  .editor-buttons {
    justify-content: center;
  }
  .controller {
    display: flex;
  }
  body.footer-display footer {
    display: none;
  }
  .main-nav-list li {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .main-nav-list input {
    border: none;
  }
  .main-nav-list select {
    border: none;
  }
  .top-five-keywords {
    width: 100%;
  }
  /*  trying to make no focus on load in mobile */
  .editor input {
    font-size: 16px;
  }
  .editor {
    height: 100%;
  }
  .canvas-container {
    margin-top: 25px;
  }
  .footer-display .keywords, .footer-display .main-nav-list .search-meme {
    display: none;
  }
}

@media (max-width: 660px) {
  .main-nav-list li.upload-parent {
    display: flex;
  }
  .logo {
    display: flex;
    width: 100%;
    justify-content: center;
  }
  .about-us-modal {
    left: 15%;
  }
  .logo i {
    margin-left: 5px;
    margin-right: 5px;
  }
  .main-nav-list {
    width: 150px;
    transform: scale(0);
    flex-direction: column;
    position: absolute;
    top: 50px;
    right: 0;
    background-color: #292929;
    align-items: center;
  }
  .hamburger {
    display: block;
    font-size: 2rem;
    text-align: center;
  }
  .main-nav-list li.webshare {
    display: flex;
  }
  .up {
    display: none;
  }
  .key-words-modal {
    left: 0;
    min-width: 250px;
  }
  .memes-container {
    padding: 0 13% 0 9%;
    min-height: 85vh;
  }
  .fa-arrow-circle-right, .fa-arrow-circle-left {
    color: white;
  }
  .main-navbar, .main-nav {
    height: 8vh;
  }
  .main-nav span {
    display: flex;
    align-items: center;
  }
  .upload-parent {
    font-size: 1rem;
  }
  .upload-parent i {
    font-size: 2rem;
  }
  .upload-parent .upload {
    opacity: 0;
    width: 50%;
    position: absolute;
  }
  .editor {
    margin-top: -100px;
  }
  .canvas-share {
    height: 35%;
    width: 73%;
  }
  .canvas-share .fas, .fab {
    color: white;
  }
  @media (max-width: 376px) {
    .about-us-modal {
      left: 2%;
      height: 50vh;
    }
    .about-us-modal button {
      padding: 10px;
      font-size: 3rem;
      font-family: "VT", Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      background: white;
    }
  }
}

.toggle-menu {
  transform: scale(1);
}