* {
    margin: 0;
    box-sizing: border-box;
}

i select {
    position: absolute;
    /* right: 30px; */
    /* top: 20px; */
    top: 55px;
    right: 0;
    border: 3px white solid;
    border-radius: 10px;
    outline: none;
}

body {
    height: 100vh;
    width: 100vw;
}

.main {
    height: 70vh;
    width: 100w;
}

.container {
    max-width: 980px;
    margin: 0 auto;
    padding-right: 25px;
}

.main-navbar {
    height: 10vh;
    width: 100%;
    background: #292929;
    color: #ffffff;
}

.main-nav {
    width: 100%;
    box-shadow: inset 0 -6px 0 #1e1e1e;
    padding-left: -20px;
    padding-right: 0px;
}

.logo {
    font-size: 2rem;
    letter-spacing: 0.25rem;
    color: #ffffff;
    font-weight: 400;
    letter-spacing: -0.8px;
}

.main-nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    z-index: 2;
}

.main-nav-list li {
    padding: 0 20px;
    box-shadow: -1px 0 0 #1d1d1d, inset -1px 0 0 #1d1d1d;
    transition: all 0.3s ease-out;
    height: 70px;
}

.main-nav-list li:hover:not(:nth-child(5n)) {
    border-bottom: 6px #58c93a solid;
}

.main-nav-list li a {
    text-decoration: none;
    color: white;
}

.memes-container {
    max-width: 1250px;
    max-height: 83vh;
    margin: 0 auto;
    overflow: hidden;
    border-left: 2px black solid;
    border-right: 2px black solid;
}

.modal-container {
    max-width: 1250px;
    min-height: 83vh;
    margin: 0 auto;
    overflow: hidden;
    border-left: 2px black solid;
    border-right: 2px black solid;
    transform: scale(0);
    transform-origin: top center;
    transition: transform 0.7s ease-out;
    display: none;
    background: #1d1d1d
    /* TODO: fix the transform transition - dosent work  */
}

.meme {
    margin: 15px 5px 10px 25px;
    min-height: 180px;
    min-width: 180px;
    border: 1px black solid;
    background-position: center;
    background-size: cover;
    border-radius: 20px;
    transition: transform 0.3s ease-out
}

.meme:hover {
    transform: scale(1.5)
}

footer {
    background: #292929;
    text-align: center;
    border-top: 1px solid #e1e0e0;
    height: 7vh;
}

footer .logo {
    color: white;
    font-size: 2rem;
}

.fa-hamburger {
    font-size: 3rem;
}

@media (max-width: 740px) {
    .meme {
        min-height: 100px;
        min-width: 100px;
    }
    .logo {
        font-size: 1rem;
    }
    .modal-container {
        flex-direction: column;
    }
    .canvas-editor-container {
        margin-top: 50px;
        height: 40px;
    }
    .editor-buttons {
        justify-content: center;
    }
    .controller {
        display: flex;
    }
}