* {
    margin: 0;
    box-sizing: border-box;
}

i select {
    position: absolute;
    /* right: 30px; */
    /* top: 20px; */
    top: 55px;
    right: 0;
    border: 3px white solid;
    border-radius: 10px;
    outline: none;
}

body {
    height: 100vh;
    width: 100vw;
}

.main {
    height: 70vh;
    width: 100w;
}

.container {
    max-width: 980px;
    margin: 0 auto;
    padding-right: 25px;
}

.main-navbar {
    height: 10vh;
    width: 100%;
    background: #292929;
    color: #ffffff;
}

.main-nav {
    width: 100%;
    box-shadow: inset 0 -6px 0 #1e1e1e;
    padding-left: -20px;
    padding-right: 0px;
}

.logo {
    font-size: 2rem;
    letter-spacing: 0.25rem;
    color: #ffffff;
    font-weight: 400;
    letter-spacing: -0.8px;
}

.main-nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    z-index: 2;
}

.main-nav-list li {
    padding: 0 20px;
    box-shadow: -1px 0 0 #1d1d1d, inset -1px 0 0 #1d1d1d;
    transition: all 0.3s ease-out;
    height: 70px;
}

.main-nav-list li:hover:not(:nth-child(3n)) {
    border-bottom: 6px #58c93a solid;
}

.main-nav-list li a {
    text-decoration: none;
    color: white;
}

.meme-searcher {
    background: none;
    border: 3px white solid;
    padding: 5px;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    outline: none;
}

.meme-searcher::placeholder {
    color: white;
}

.memes-container {
    max-width: 1250px;
    min-height: 83vh;
    margin: 0 auto;
    overflow: hidden;
    border-left: 2px black solid;
    border-right: 2px black solid;
    transition: all 0.7s ease-out;
}

.modal-container {
    max-width: 1250px;
    min-height: 83vh;
    margin: 0 auto;
    overflow: hidden;
    border-left: 2px black solid;
    border-right: 2px black solid;
    transform: scale(0);
    transform-origin: top center;
    transition: transform 0.7s ease-out;
    display: none;
    background: #1d1d1d
    /* TODO: fix the transform transition - dosent work  */
}

.meme {
    margin: 15px 5px 10px 25px;
    min-height: 180px;
    min-width: 180px;
    border: 1px black solid;
    background-position: center;
    background-size: cover;
    border-radius: 20px;
    transition: transform 0.3s ease-out;
}

.meme:hover {
    transform: scale(1.1);
    border: 3px blue solid;
}

footer {
    background: #292929;
    text-align: center;
    border-top: 1px solid #e1e0e0;
    height: 7vh;
}

footer .logo {
    color: white;
    font-size: 2rem;
}

.fa-user-secret {
    font-size: 3rem;
}

.about-us-modal {
    height: 50vh;
    width: 50vw;
    max-width: 500px;
    min-width: 350px;
    background: white;
    border: black 2px solid;
    position: absolute;
    top: 10%;
    left: 30%;
    border-radius: 15px;
    padding: 10px;
    transform-origin: top center;
    transform: scale(0);
    transition: transform 0.7s ease-out;
    z-index: 10;
}

.about-us-modal h2, h3 {
    text-align: center;
    margin-bottom: 10px;
    text-transform: capitalize;
}

.portfolios-container img {
    height: 70%;
    width: 80%;
    border: 2px black solid;
    border-radius: 15px;
}

.portfolios-container div {
    margin-left: 20px;
    height: 250px;
    /* background: black; */
}

.indicator {
    text-align: center;
    font-size: 2rem;
    text-transform: capitalize;
    font-weight: bold;
}

.screen {
    height: 100vh;
    width: 100vw;
    background: rgb(122, 122, 122, 0.6);
    position: absolute;
    transform: scale(0);
    z-index: 9;
}

.meme input {
    opacity: 0;
    padding-top: 152px;
    width: 100%;
}

.about-us-modal {
    left: 25%;
}

.memes-container i {
    position: absolute;
}

.fa-arrow-circle-left {
    position: absolute;
    font-size: 3rem;
    left: 2%;
    cursor: pointer;
}

.fa-arrow-circle-right {
    font-size: 3rem;
    position: absolute;
    right: 2%;
    cursor: pointer;
}